{% extends "base.html" %}

{% block page %}Create Course{% endblock %}

{% block style %}create_course{% endblock %}

{% block title %}
  <div id="title">
    <h1>Create A Course</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-all">
    <form method="POST" enctype="multipart/form-data" id="courseForm" action="/submit_course">
      <div class="h-course">
        <div class="h-course-h">
          <div class="course h-course-img">
            <label for="thumbnail-course" class="img-holder">
              <h3>Thumbnail</h3>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
            </label>
            <input type="file" id="thumbnail-course" name="thumbnail-course" form="courseForm">
          </div>
          <div class="h-course">
            <input type="text" name="course-title" class="course-title course h-title" placeholder="Course Title" form="courseForm">
            <input type="text" name="short-course-desc" class="course course-desc crs-desc" placeholder="Short Course Description" form="courseForm">
            <div class="course-info h-info">

              <label for="course_type">Course Type: </label>
              <select id="course_type" name="course_type" form="courseForm">
                <option value="Science">Science</option>
                <option value="Technology">Technology</option>
                <option value="Engineering">Engineering</option>
                <option value="Mathematics">Mathematics</option>
              </select>

              <label for="skill-level">Skill Level: </label>
              <select id="skill_level" name="skill_level" form="courseForm">
                <option value="Neophyte">Neophyte (Beginner)</option>
                <option value="Initiate">Initiate (Intermediate)</option>
                <option value="Artisan">Artisan (Advanced)</option>
                <option value="Cognoscente">Cognoscente (Expert)</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="h-course textarea-contain">
        <textarea name="course-desc" class="crs-desc" placeholder="Full Course Description" form="courseForm"></textarea>
      </div>
    </form>

    <form method="POST" enctype="multipart/form-data" class="crs-cntn-mirror" id="lessonForm" action="/submit_lesson">
      <div class="h-course textarea-contain">
        <h2>Add Lesson</h2>
        <a class="add-btn" onclick="addLesson()">
          <svg id="plusIcon" class="add-lesson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="display: inline;">
            <path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
          </svg>
          <svg id="minusIcon" class="add-lesson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="display: none;">
            <path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
          </svg>
        </a>
      
        <div class="h-course hidden addBtn" id="lessonFormContain">
          <div class="h-course">
            <div class="h-course-h">
              <div class="course h-course-img">
                <label for="thumbnail-lesson" class="img-holder">
                  <h3>Thumbnail</h3>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                </label>
                <input type="file" id="thumbnail-lesson" name="thumbnail-lesson" form="lessonForm">
              </div>

              <div class="h-course">
                <input type="text" name="lesson-title" class="course-title course h-title" placeholder="Lesson Title" form="lessonForm">
                <input type="text" name="short-lesson-desc" class="course course-desc2 crs-desc" placeholder="Short Lesson Description" form="lessonForm">
                <div id="addContent" class="course-info h-info"></div>
                <h3 id="content-text">Add Content</h3>
                <a id="revealBtn" class="course course-title hidden content-add" onclick="toggleContent()">
                  <svg id="plusIcon2" class="add-lesson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="display: inline;">
                    <path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                  </svg>
                  <svg id="minusIcon2" class="add-lesson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="display: none;">
                    <path fill="currentColor" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                  </svg>
                </a>
              </div>
            </div>

            <div id="revealContent" class="hidden">
              <div class="add-option">
                <label for="video" class="img-holder">
                  <h4>Add Video</h4>
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
                  </div>
                </label>
                <input type="file" id="video" name="video" form="lessonForm">
              </div>

              <div class="add-option">
                <label for="document" class="img-holder">
                  <h4>Add Document</h4>
                  <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm16 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v48H368c-8.8 0-16 7.2-16 16s7.2 16 16 16h48v48c0 8.8 7.2 16 16 16s16-7.2 16-16V384h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H448V304z"/></svg>
                  </div>
                </label>
                <input type="file" id="document" name="document" form="lessonForm">
              </div>

              <div class="add-option">
                <label for="file" class="img-holder">
                  <h4>Add Other</h4>
                  <div class="icon-container">
                    <svg id="add-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                  </div>
                </label>
                <input type="file" id="file" name="file" form="lessonForm">
              </div>
            </div>
            <div id="btn-holder">
              <button id="subLesson" class="subBtn" type="submit" form="lessonForm">Save Lesson</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="course line"></div>
    <button id="subCourse" class="subBtn" type="submit" form="courseForm">Save Course</button>
  </div>
  <script src="{{ url_for('static', filename='./create_course.js') }}"></script>
{% endblock %}

{% block foot %}
  <div id="foot"></div>
{% endblock %}
