{% extends "base.html" %}

{% block page %}Dashboard{% endblock %}

{% block style %}dashboard{% endblock %}

{% block title %}
  <div id="title">
    <h1>My Dashboard</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="contain-all">
    <div id="section-container">

      <!-- Courses In Progress -->
      <section id="prog-courses" class="courses">
        <h2>Courses In Progress</h2>
        <div class="course-contain">
          <div class="v-course-contain">

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/arduino.png') }}">
                <h3 class="course-title course">Arduino Mastery</h3>
                <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator1"><span>Creator1</span></a></p>
                <p><strong>Released: </strong> 10-23-2024</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
              <!-- Progress bar -->
              <div class="prog-bar"></div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/linux.webp') }}">
                <h3 class="course-title course">Linux for Beginners</h3>
                <p class="course-desc course">Proident minim voluptate eiusmod consectetur eu. Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator2"><span>Creator2</span></a></p>
                <p><strong>Released: </strong> 02-03-2022</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
              <!-- Progress bar -->
              <div class="prog-bar"></div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <a href="#" class="plus-icon-anchor">
                  <svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- My Courses -->
      <section id="my-courses" class="courses">
        <h2>My Courses</h2>
        <div class="course-contain">
          <div class="v-course-contain">
            {% for course in courses %}
            <div class="v-course">
              <div class="v-course extra-div">
                {% if course.thumbnail %}
                <img class="course course-img" src="{{ url_for('pages.get_thumbnail', course_id=course.id) }}" alt="{{ course.title }}">
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                {% endif %}
                <h3 class="course-title course">{{ course.title }}</h3>
                <p class="course-desc course">{{ course.short_desc }}</p>
              </div>
              <div class="course-info course-info-own">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="{{ user.username }}"><span>{{ user.username }}</span></a></p>
                <p><strong>Released: </strong> {{ course.date_created.strftime('%Y-%m-%d') }}</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
              {% if current_user.user_id == course.creator %}
              <div class="course-info course-info-own">
                <a href="{{ url_for('pages.create_course', course_id = course.id) }}" class="course-info adjust-a" style="border: 1px solid #C1BFB5; border-radius: 5px;">
                  <svg class="options" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M19.09 14.441v4.44a2.37 2.37 0 0 1-2.369 2.369H5.12a2.37 2.37 0 0 1-2.369-2.383V7.279a2.356 2.356 0 0 1 2.37-2.37H9.56"/><path d="M6.835 15.803v-2.165c.002-.357.144-.7.395-.953l9.532-9.532a1.36 1.36 0 0 1 1.934 0l2.151 2.151a1.36 1.36 0 0 1 0 1.934l-9.532 9.532a1.36 1.36 0 0 1-.953.395H8.197a1.36 1.36 0 0 1-1.362-1.362M19.09 8.995l-4.085-4.086"/></g></svg>
                  <p>Edit</p>
                </a>
                <a href="{{ url_for('pages.view_course', course_id = course.id) }}" class="course-info adjust-a">
                  <svg class="options" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="M21.544 11.045c.304.426.456.64.456.955c0 .316-.152.529-.456.955C20.178 14.871 16.689 19 12 19c-4.69 0-8.178-4.13-9.544-6.045C2.152 12.529 2 12.315 2 12c0-.316.152-.529.456-.955C3.822 9.129 7.311 5 12 5c4.69 0 8.178 4.13 9.544 6.045"/><path d="M15 12a3 3 0 1 0-6 0a3 3 0 0 0 6 0"/></g></svg>
                  <p>Study</p>
                </a>
              </div>
              {% endif %}
            </div>
            {% endfor %}

            <div class="v-course">
              <div class="v-course extra-div">
                <a href="{{ url_for('pages.create_course', course_id = 0) }}" class="plus-icon-anchor">
                  <svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Recommended Courses -->
      <section id="rec-courses" class="courses">
        <h2>Recommended Courses</h2>
        <div class="course-contain">
          <div class="v-course-contain">

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/influencer.webp') }}">
                <h3 class="course-title course">Creating AI Influencers</h3>
                <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator3"><span>Creator3</span></a></p>
                <p><strong>Released: </strong> 08-14-2021</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/philosophy.webp') }}">
                <h3 class="course-title course">Open Source Philosophy</h3>
                <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator5"><span>Creator5</span></a></p>
                <p><strong>Released: </strong> 02-02-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/brain.webp') }}">
                <h3 class="course-title course">Essentials of Psychology</h3>
                <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator6"><span>Creator6</span></a></p>
                <p><strong>Released: </strong> 01-31-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="bookmarks" class="courses">
        <h2>Bookmarks</h2>
        <div class="course-contain">
          <div class="v-course-contain">

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/philosophy.webp') }}">
                <h3 class="course-title course">Open Source Philosophy</h3>
                <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator5"><span>Creator5</span></a></p>
                <p><strong>Released: </strong> 02-02-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/brain.webp') }}">
                <h3 class="course-title course">Essentials of Psychology</h3>
                <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator6"><span>Creator6</span></a></p>
                <p><strong>Released: </strong> 01-31-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
{% endblock %}

{% block foot %}
  <div id="foot"></div>
{% endblock %}
