{% extends "base.html" %}

{% block page %}Home{% endblock %}

{% block style %}style{% endblock %}

{% block title %}
  <div id="title">
    <h1>Cognoscente</h1>
    <h3 id="slogan">Creating Courses, Cultivating Genius</h3>
    <img src="{{ url_for('static', filename='./images/logo.png') }}">
  </div>
{% endblock %}

{% block content %}
  <div class="contain-all">
    <div id="section-container">
      <!-- Introduction -->
      <section id="expose">
        <h2>What We Do</h2>
        <div class="inner-section">
          <div class="box-mid">
            <h3>Discover STEM-Related Courses!</h3>
            <p>Find courses in the area you want to master. From beginners to
            experts, there are courses to learn from and enjoy!</p>
            <h3>Create Your Own STEM Courses!</h3>
            <p>Build your own curriculum for learning any STEM-Related skill.
            You design and teach, and <em>you</em> can share your knowledge and
            skills.</p>
            <h3>Make Money & Develop Your Field!</h3>
            <p>Earn money by sharing your expertise. Help grow the community
            around your sphere and inspire the world.</p>
          </div>
          <div class="img_link">
            <img src="{{ url_for('static', filename='./images/intro.webp') }}">
            <a class="act longer-act" href="{{ url_for('auth.login') }}">Login or Create Account Here</a>
          </div>
        </div>
      </section>

      <!-- Courses to Explore -->
      <section id="courses">
        <h2>Our Top Courses</h2>
        <div class="course-contain">
          <div class="v-course-contain">

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/arduino.png') }}">
                <h3 class="course-title course">Arduino Mastery</h3>
                <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator1"><span>Creator1</span></a></p>
                <p><strong>Released: </strong> 10-23-2024</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/linux.webp') }}">
                <h3 class="course-title course">Linux for Beginners</h3>
                <p class="course-desc course">Proident minim voluptate eiusmod consectetur eu. Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator2"><span>Creator2</span></a></p>
                <p><strong>Released: </strong> 02-03-2022</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/influencer.webp') }}">
                <h3 class="course-title course">Creating AI Influencers</h3>
                <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator3"><span>Creator3</span></a></p>
                <p><strong>Released: </strong> 08-14-2021</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/equations.webp') }}">
                <h3 class="course-title course">Newtonian Physics</h3>
                <p class="course-desc course">Proident minim voluptate eiusmod consectetur eu. Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator4"><span>Creator4</span></a></p>
                <p><strong>Released: </strong> 07-12-2021</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/philosophy.webp') }}">
                <h3 class="course-title course">Open Source Philosophy</h3>
                <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator5"><span>Creator5</span></a></p>
                <p><strong>Released: </strong> 02-02-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>

            <div class="v-course">
              <div class="v-course extra-div">
                <img class="course course-img" src="{{ url_for('static', filename='./images/brain.webp') }}">
                <h3 class="course-title course">Essentials of Psychology</h3>
                <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
              </div>
              <div class="course-info">
                <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator6"><span>Creator6</span></a></p>
                <p><strong>Released: </strong> 01-31-2020</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <a class="act" href="#" data-replace="Here">Discover More Courses <span>Here</span></a>
      </section>

      <section id="courses-h">
        <h2>Our Top Courses</h2>
        <div class="course-contain">
          <div class="h-course-contain">

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/arduino.png') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Arduino Mastery</h3>
                  <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator1"><span>Creator1</span></a></p>
                    <p><strong>Released: </strong> 10-23-2024</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/linux.webp') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Linux for Beginners</h3>
                  <p class="course-desc course">Proident minim voluptate eiusmod consectetur eu. Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator2"><span>Creator2</span></a></p>
                    <p><strong>Released: </strong> 02-03-2022</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/influencer.webp') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Creating AI Influencers</h3>
                  <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator3"><span>Creator3</span></a></p>
                    <p><strong>Released: </strong> 08-14-2021</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/equations.webp') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Newtonian Physics</h3>
                  <p class="course-desc course">Proident minim voluptate eiusmod consectetur eu. Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator4"><span>Creator4</span></a></p>
                    <p><strong>Released: </strong> 07-12-2021</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/philosophy.webp') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Open Source Philosophy</h3>
                  <p class="course-desc course">Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident. Ullamco velit anim est anim consectetur ea sint. Nostrud cupidatat dolor excepteur enim amet.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator5"><span>Creator5</span></a></p>
                    <p><strong>Released: </strong> 02-02-2020</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="h-course">
              <div class="h-course-h">
                <img class="course h-course-img" src="{{ url_for('static', filename='./images/brain.webp') }}">
                <div class="h-course">
                  <h3 class="course-title course h-title">Essentials of Psychology</h3>
                  <p class="course-desc course">Quis enim sunt nostrud in aliqua voluptate culpa reprehenderit aliqua. Voluptate do ut cillum qui amet est exercitation in sunt fugiat nulla consectetur. Ad quis nostrud elit minim elit velit velit elit laborum quis proident.</p>
                  <div class="course-info h-info">
                    <p class="course-link"><strong>Creator: </strong><a href="#" class="switch-link" data-replace="Creator6"><span>Creator6</span></a></p>
                    <p><strong>Released: </strong> 01-31-2020</p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="act" style="margin-bottom: 10px;" href="#" data-replace="Here">Discover More Courses <span>Here</span></a>
      </section>

      <!-- Features -->
      <section id="features">
        <h2>Key Features</h2>
        <div class="inner-section">
          <div class="box">Easy Design</div>
          <div class="box">Idk</div>
          <div class="box">Rankings</div>
        </div>
      </section>

      <!-- Testimonials -->
      <section id="testimonials">
        <h2>Testimonials</h2>
        <div class="review-contain">
          <div class="review">
            <div class="text-rev">
              <div class="title-rev">
                <h3>Title</h3>
              </div>
              <div class="content-rev">
                <p>Culpa aliqua sit consequat quis voluptate ad. Minim veniam minim minim ut. Nulla magna aliqua pariatur et do laboris anim Lorem aute officia enim ea. Voluptate duis mollit eu id id ad. Dolor enim elit ad sunt id magna dolore mollit eu. Sint nostrud fugiat duis aliqua do ea Lorem voluptate.</p>
              </div>
            </div>

            <div class="test-contain">
              <div class="stars">
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-black">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
              </div>

              <div class="test-contain">
                <h4>Author1</h4>
              </div>
            </div>
          </div>

          <div class="review">
            <div class="text-rev">
              <div class="title-rev">
                <h3>Title</h3>
              </div>
              <div class="content-rev">
                <p>Culpa aliqua sit consequat quis voluptate ad. Minim veniam minim minim ut. Nulla magna aliqua pariatur et do laboris anim Lorem aute officia enim ea. Voluptate duis mollit eu id id ad. Dolor enim elit ad sunt id magna dolore mollit eu. Sint nostrud fugiat duis aliqua do ea Lorem voluptate.</p>
              </div>
            </div>

            <div class="test-contain">
              <div class="stars">
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-gold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-black">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                <div class="star-black">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
              </div>

              <div class="test-contain">
                <h4>Author2</h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- For Course Creation -->
      <section id="templates">
        <h2>Create A Course</h2>
        <div class="inner-section">
          <div class="box">
            <h3>Choose a STEM Topic</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
            <p>Pretend there is an image here</p>
          </div>
          <div class="box">
            <h3>Record Content</h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
            <p>Pretend there is an image here</p>
          </div>
          <div class="box">
            <h3>Release Your Course!</h3>
            <p>Pretend there is an image here</p>
            <a class="act" href="#">Create Your Course</a>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}

{% block foot %}
  <div id="foot"></div>
{% endblock %}
